<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <section class="wrapper">
      <h1 class="title"><%= title %></h1>
      <div class="post">
        <%- body %>
      </div>
    </section>
  </body>
</html>
