<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>トップ</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <a href="/blog">記事一覧</a>
  </body>
</html>
